.header {
    width: 100%;
    background-color: black;
    padding: 15px 0;
}
.header div{
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header div li{
    margin-right: 20px;
}

.header div li a{
    font-size: 16px;
    color:#fff;
    text-decoration: none;
}
.header .icons{
    display: flex;
    
    gap: 10px;
    color: #fff;
    
}
.nav__bar{
    display: flex;
    margin-left: 20px;
    list-style: none;
    
}
.nav__bar img{
    height: 30px;
}
